{% extends 'core/base.html' %}

{% block content %}

<div class="max-w-5xl mx-auto bg-white text-black p-10 rounded-2xl">

<h1 class="text-5xl font-bold mb-8">About Me</h1>

<h2 class="text-3xl font-semibold">Professional Summary</h2>
<p class="mt-2">
Backend-focused Django Developer specializing in REST APIs and PostgreSQL.
</p>

<h2 class="text-3xl font-semibold mt-8">Education</h2>
<p>B.Tech Computer Science Engineering</p>
<p>Lovely Professional University (2021–2025)</p>

</div>

{% endblock %}
