{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Portfolio</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-[#000b2d] text-white min-h-screen">

<nav class="bg-gray-800 px-6 py-3 flex gap-6">

    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'projects' %}">Projects</a>
    <a href="{% url 'contact' %}">Contact</a>

    <div class="ml-auto">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>

</nav>

<div class="p-6">
    {% block content %}{% endblock %}
</div>

</body>
</html>
