{% extends 'core/base.html' %}

{% block content %}

<h1 class="text-5xl font-bold mb-8">Skills</h1>

<div class="grid grid-cols-2 gap-6">

<div class="bg-white text-black p-6 rounded-xl">
<h2 class="text-2xl font-bold">Languages</h2>
<p>Python, Java, Kotlin</p>
</div>

<div class="bg-white text-black p-6 rounded-xl">
<h2 class="text-2xl font-bold">Frameworks</h2>
<p>Django, DRF, HTML, CSS</p>
</div>

<div class="bg-white text-black p-6 rounded-xl">
<h2 class="text-2xl font-bold">Tools</h2>
<p>Machine Learning, NLP, Pandas, scikit-learn</p>
</div>

<div class="bg-white text-black p-6 rounded-xl">
<h2 class="text-2xl font-bold">Soft Skills</h2>
<p>Leadership, Communication, Problem Solving</p>
</div>

</div>

{% endblock %}